html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            /* Evita a barra de rolagem */
        }

        .container {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            /* Centraliza horizontalmente */
            align-items: center;
            /* Centraliza verticalmente */
            height: 50vh;
            /* Define a altura do contêiner */
        }

        .welcome-section {
            margin-bottom: 30px;
            text-align: center;
        }

        .corpo {
            user-select: none;
            background-color: #A2D9CE;
            background-image: linear-gradient(132deg, #08762b 0%, #38a48f 100%);
            margin: 0;
            padding: 0;
            min-height: 100vh;
        }

        .h1 {
            font-size: 5rem;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            color: #7BFB3F;
        }

        .perfil {
            position: fixed;
            top: 10px;
            right: 10px;
            height: 50px;
        }

        h4 {
            margin: 1rem 0;
            font-family: "Open Sans", sans-serif;
            color: #34495E;
        }

        .buttons {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        button {
            background-color: #82E0AA;
            color: #34495E;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-family: "Open Sans", sans-serif;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #58D68D;
        }

        hr {
            width: 0;
            height: 3px;
            background-color: #58D68D;
            border: none;
            transition: width 1s ease;
        }
        
        .welcome-section:hover hr {
            width: 100%;
        }